{% extends "base.html" %}

{% block content %}
  <div id="page" class="container">
    <div id="content">
      <div class="title"><h2>Train File or Save Data Upload</h2></div>
      <form method="POST" enctype=multipart/form-data>
          <input type=file name=upload>
          <input type=submit name="get para" value="Paraphrase Training Data">
          <input type=submit name="load state" value="Load Save Data" >
      </form>
      <p>
      <form action="" method="POST" name="paraphrase_list">
        <table style="width:100%">
          <tr>
            <th>ID</th>
            <th>Paraphrase</th>
            <th>Score</th>
          </tr>
          {% for (i, sent) in lines %}
          <tr>
            <td>
              <input type="checkbox" id="{{ i }}" name="paraphrases" value="{{ sent[2] }}">
              <label for="{{ i }}">{{ i + 1 }}</label>
            </td>
            <td>{{ sent[2] }}</td>
            <td>{{ '%.2f'%sent[0] }}</td>
          </tr>
          {% endfor %}
        </table>
        {% if endfile == False %}
        <input type=submit name="next 100" value="Next 100 Paraphrases">
        {% endif %}
        <input type=submit name="train new" value="Train New Model">
        <input type=submit name="save progress" value="Save Progress">
  </div>
{% endblock %}
