{% extends "base.html" %}

{% block content %}
  <div id="page" class="container">
    <div id="content">
      <h2>Perplexity</h2>
      <h3>{{ '%.4f'%plxy }}</h3>
      <br>
      <h2>Artificial Word Error Rate</h2>
      <h3>{{ '%.4f'%awer }}</h3>
      <br>
      <h2>Vocabulary Size</h2>
      <h3>{{ coverage[0] }}</h3>
      <br>
      <h2>Vocabulary Coverage</h2>
      <h3>{{ '%.4f'%(1 - (coverage[1] / coverage[0])) }}</h3>
    </div>
    <a href="{{ url_for('model_eval') }}" class="button square back">Evaluate Different Model</a>
    {% if type == "model" %}
    <a href="{{ url_for('paraphrase') }}" class="button square back">Bootstrap with Paraphrases</a>
    {% endif %}
    {% if type == "train" %}
      <a href="{{ url_for('download_model')}}" class="button square back">Download Model</a>
    {% endif %}
  </div>
{% endblock %}
